body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  margin: 25px;
  padding: 0;
  color: #0f100f;
  border: 20px outset rgba(28, 53, 70, 0.5);
  border-radius: 20px;
  background-color: #dfcdc3;
}
.display-3 {
  text-shadow: 51px 8px 5px rgba(15, 16, 15, 0.6);
  color: #0f100f;
  padding-bottom: 12px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  padding-bottom: 85px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px solid #000000;
}

.past {
  background-color: #d3d3d3;
  color: rgb(17, 16, 16);
  box-shadow: 47px 47px 34px 6px rgba(66, 86, 49, 0.4);
}

.present {
  background-color: #c67a76;
  color: rgb(14, 13, 13);
  box-shadow: 47px 47px 34px 6px rgba(66, 86, 49, 0.4);
}

.future {
  background-color: #719192;
  color: rgb(22, 21, 21);
  box-shadow: 47px 47px 34px 6px rgba(66, 86, 49, 0.4);
}

.saveBtn {
  border-left: 1px solid rgb(28, 20, 239);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #a2ddea;
  color: rgb(30, 28, 28) solid;
  justify-content: center;
  align-items: center;
  box-shadow: 47px 47px 34px 6px rgba(66, 86, 49, 0.4);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
