root {
  --main-color: #8a93b4;
  --hero-font: #292e40;

  --past-color: #969696;
  --present-color:#b4ab8a;
  --future-color:#78ab78;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
p{
  color:var(--hero-font);
  font-weight: bold;
}
.jumbotron {
  text-align: center;
  background-color: var(--main-color);
  color:var(--hero-font);
  border-radius: 0;
  border-bottom: 10px solid ;
  justify-content: flex-end;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

footer{
  margin-top:50px;
  text-align: left;
}

.container{
  border-radius: 25px;
  box-shadow: 2px black;
}
.btn{
  display: contents;
}
.input-group .form-control{
  height:auto;
  
}
span{
  display:block;
  background-color: var(--hero-font);
}
span, i{
    margin: 10px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

input.past {
  background-color: var(--past-color);
  color: white;
  width: -webkit-fill-available;
  
}

input.present {
  background-color: var(--present-color);
  color: white;
}

input.future {
  background-color:var(--future-color);
  color: white;
}
.lead {
  color:#515b7f;
  
}
.display-3{
font-weight: bold;
}
button, input {
    overflow: auto;
}
